/* hulp gehad van Danny de Vries */

/* CSS Reset */

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

/* Eigen CSS */

body {
    background-color: #FAF3EE;
}

header {
    background-color: #fff;
}

nav{
    font-family: "Nexa Bold";
    color:#21D370;
}

nav ul {
    display: flex;
    align-items:center;
}
/*dit zorgt ervoor dat het laatste kind rechts blijft staan*/
nav ul li:last-child {
    margin-left:auto;
}

nav a {
    text-decoration: none;
    color: #21D370;
    transition: color 300ms;
}
nav li {
    font-family: "Nexa Light";
    font-size: 0.9em;
}

nav a:hover {
    color: #2800A0;
}

li {
    list-style: none;
}

h1 {
    display: inline-block;
    color: #29129D;
    font-size: 3.7rem;
    margin: 0.2em;
    text-align: right;
    font-family: "Nexa Bold";
}

h1 span {
    font-size: 2rem;
}

li {
    display: inline-block;
    font-family: "Nexa light";
    margin: 1.4em;
    font-size: 0.8em;
}

button {
    background-color: #29129D;
    color: #fff;
    border-radius: 0.8em;
    width: 6em;
    height: 5em;
    border: none;
    top: 1em;
    font-family: "Nexa light";
    font-size: 0.7em;
    transition: background-color 300ms ease, transform 300ms;
}

article button {
  position: absolute;
}


button:hover{
    background-color: #FC376A;
    transform: scale(1.1);
}

article button:nth-child(2) {
    right: 2em;
}

article button:nth-child(1) {
    left: 2em;
}

button img.plus {
    display: block;
    margin: 0.5em auto;
    width: 2em;
}

button img.check {
    display: none;
    margin: 0.5em auto;
    width: 2em;
}

/* Only show when class of 'show' from JavaScript */

.show img.add {
    display: none;
}

.show img.check {
    display: block;
}

.show {
    opacity: 1;
}

/* filter, sorteren */

fieldset {
    position: absolute;
    font-size: 0.6em;
    background-color: #fff;
    z-index: 2;
    opacity: 0;
    transition: opacity 800ms ease;
    font-family: 'Nexa light';
    border: none;
    right: 0;
    width: 50vw;
    padding: 1em;
}

label {
    width: 40%;
    display: inline-block;
}

legend{
    display: none;
}

form:nth-of-type(2) {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 2;
}

/* artikelen */
article {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 3em;
    margin-right: 1em;
    margin-left: 1em;
    border-color: #21D370;
    border-radius: 0.8em;
    background-color: #21D370;
    color: #fff;
    flex-grow: 1;
    flex-basis: 25%;
    min-width: 17em;
}

article > img {
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;
    width: 100%;
    height: 9em;
}

footer img {
    width: 2em;
    white-space: 1em;
    margin-right: 0.5em;
    margin-left: 1em;
}

footer {
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: space-around;
    margin: -1em;
    padding-right: 1em;
}

h2 {
    font-family: "Nexa bold";
    font-size: 2em;
    margin: 0.6em;
}

section {
    display: flex;
    flex-wrap: wrap;
}

h3{
    display: none;
}

article a{
    font-family: "Nexa light";
    padding: 1.5em;
}

/*zoekbalk*/

form:nth-of-type(1) {
    display: flex;
}

form input:nth-child(2) {
    border: none;
    color: white;
    background-color: #FC376A;
    border-radius: 0.8em;
    height: 2em;
    position: inherit;
    width: 33.3%;
    font-family: 'Nexa light';
    font-size: 0.8em;
    transition: background-color 300ms ease;
}

form input:nth-child(2):hover{
    background-color: #A51F41;
    transform: scale(1.2);
}

form input {
    height: 2em;
    margin-top: 1em;
    font-family: 'Nexa light';
    position: inherit;
    width: 65.3%;
    font-size: 0.8em;
    padding: 0.6em;
    border: 0.1em solid #4D4E4C;
    border-radius: 0.8em;    
}

input {
    border-radius: 0.8em;
    margin: 1em;
}

/* hartje interactie */
svg path {
    transition: fill 300ms ease;
    fill: transparent;
}

svg:hover path {
    fill: #21D370;
}

/* artikelen reactie like leestijd */
main ul{
    display: flex;
    justify-content: space-around;
    color: #21D370;
}

textarea{
    padding: 0.5em;
    border-radius: 0.8em;
    font-family: "Nexa Light";
    margin: 1em;
}

form div{
    padding: 1em;
    display:inline;
    float: left;
}

.wachtwoord {
    display: none;
}

.login {
    padding-right: 8em;
}

div{
    padding: 1em;
}

@media all and (min-width: 50em){
    form:nth-of-type(1){
        width: 50%;
    }
    
    fieldset {
        width: 20vw;
    }
}

.animate {
    animation: heartbeat 1s;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(2);
    }
    
    100% {
        transform: scale(1);
    }
    
}